#aboutSection {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #0062ff9c;
}

#about-content {
    margin-bottom: 80px;
}

.box-about {
    position: relative;
    display: flex;
    margin-top: 60px;
    gap: 50px;
}

.box-about-img {
    width: 500px;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.box-about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-about-info {
    width: 50%;
}

.box-about-info h2 {
    color: var(--color-third);
    font-size: 25px;
    line-height: 29px;
}

.box-about-info p {
    margin-top: 30px;
}

.box-about-2 {
    justify-content: end;
}

.box-about-2 .box-about-info {
    text-align: right;
}

@media (max-width:1040px) {
    .box-about {
        flex-direction: column;
    }

    .box-about-img {
        width: 100%;
    }

    .box-about-info {
        width: 100%;
    }

    .box-about-2 .box-about-img {
        order: 1;
    }

    .box-about-2 .box-about-info {
        order: 2;
    }
}