#faqSection{
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #0062ff9c;
}

.faq__content{
    width: 80%;
    
}
.faq__content__boxs{
    margin-bottom: 80px;
    display: flex;
    height: 550px;
    justify-content: space-between;
}
.faq__box{
    height: 100%;
    display: flex;
    /* align-items: center; */
}

.faq__content__boxs--image{
    width: 400px;
    display: flex;
    align-items: center;
}

.faq__content__boxs--question{
    width: 50%;
}
 .faq__question{
    margin-top: 10px;
    background-color: #0062ff9c;
    padding: 10px;
    border-radius: 5px;
 }
 .question{
    display: flex;
    align-items: center;

 }
 .faq__question p{
    margin-top: 10px;
 }
 .answer{
    position: relative;
    overflow: hidden;
    height: 0;
    transition: .5s;
 }