aside{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    gap: 10px;
    line-height: 30px;
}
aside p{
    line-height: 50px;
}
a img{
    display: flex;
    width: 30px;
    height: auto;
}
.media{
    display: flex;
    justify-content: space-between;
}
p{
    font-weight: 200;
}
li{
    font-weight: 200;
}
.primary-logo{
    width: 200px;
    height: 43.02px;
}
.footer-copy{
    background-color: D9D9D9;
    color: var(--color-dark);
    text-align: center;
    padding: 5px;
    font-size: 14px;
}
footer p{
    font-weight: 300;
}