:root {
  --font-mont: Montserrat, sans-serif;
  --font-pop: Poppins, sans-serif;
  --color-primary: #0c1137;
  --color-secondary: #0061ff;
  --color-third: #00dbff;
  --color-light: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-pop);
  color: var(--color-light);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
