:root{
  --font-mont:Montserrat, sans-serif;
  --font-pop:Poppins, sans-serif;
  --color-primary:#0C1137; 
  --color-secondary:#0061FF;
  --color-third:#00DBFF;
  --color-light:#FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat);
  color: var(--color-light);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
