#home {
  background-image: url(/assets/imgs/BackgroundBlue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .home__content {
  width: 80%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  justify-content: space-between;

}

.home__content__box {
  width: 45%;
}
.home__content__box--form{
  display: flex;
  justify-content: end;
}

#home .home__content #description h1 {
  font-size: 40px;
}

#home .home__content #description h2 {
  color: var(--color-third);
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  right: 0;
  gap: 10px;
}

.form__box {
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff70;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.form__box input {
  background: none;
  padding: 10px 10px 10px 20px;
  width: 100%;
  height: 100%;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.form__box input::placeholder {
  color: #ffffff;
}

.form__box--segmento {
  display: flex;
  align-items: center;
  line-height: 50px;
  position: relative;
}

.form__box--segmento button {
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

.form__box--segmento button i {
  transition: all .5s;
}

.form__box--segmento input {
  cursor: pointer;
}

.form__box--dropdown {
  height: 220px;
  width: 100%;
  padding: 10px;
  position: absolute;
 background-color: #101747;;
  transition: all .2s;
  opacity: 0;
  display: none;
  justify-content: center;
  border: solid 1px #fff;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.form__box--dropdown ul {
  width: 100%;
  position: absolute;
}

.form__box--dropdown ul li {
  padding: 2px 0px 2px 15px;
  transition: all .3s;
}

.form__box--dropdown ul li:hover {
  background-color: #033c97;
  border-left: 5px solid var(--color-third);

}

.selected {
  background-color: var(--color-secondary);
}

.appear {
  top: 240px;
  opacity: 0.9;
  z-index: 1;
}

.disappear {
  top: 230px;
  opacity: 0;
}

.form__box--submit {
  background: #033c97;
  font-weight: bold;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  transition: all .5s ease;
  font-family: var(--font-pop);
}

.form__box--submit:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.section2 {
  height: 100vh;
  background-color: var(--color-primary);
}

@media (max-width:1000px) {
  #home{
    padding: 90px 0px 0px 20px;
  }
  .home__content__box {
    width: 100%;
    align-items: center;
  }
  .home__content__box--form{
    justify-content: center;
    margin-bottom: 30px;
  }

}