#services{
    background-color: var(--color-primary);
    padding: 40px;
}
#services #content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--font-mont);
    gap: 45px;
    max-width: 1000px;
    margin: 45px auto;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 20px;
    transition: all 0.3s ease-out;
    border-left: 5px solid var(--color-third);
    background-color: #2e3569;
    position: relative;
    height: 180px;
    width:230px;
}
.card h2{
    margin-bottom: 30px;  
    color: var(--color-light); 
}
.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.card p{
    color: #a3a5ae;
    font-size: 16px;
}
.card img{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
}

